body {
  font-family: TeX Gyre Adventor;
  font-weight: 600;
  font-size: 1.3em;
}
p {
  font-weight: 100;
}

ul {
  top: 0;
  left: 0;
  right: 0;
  list-style-type: none;
}

a:hover {
  border-bottom: 8px solid black;
}

a {
  text-decoration: none;
  color: black;
}

#header-img {
  width: 80px;
  max-height: 80px;
}

#header {
  height: 100px;
  font-weight: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 3;
}
#flex-bar {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
}
#flex-bar li a {
  padding: 20px;
}
#main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  flex-direction: row;
  margin: 20 0;
  position: relative;
}

.sec-link {
  transition: 0.3s ease;
  background: rgb(188, 188, 188);
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;

}
.sec-link:hover {
  border-top:  solid #ffffff;
  border-bottom: solid #ffffff;
  padding: 6px 0; 
}


.search-container .label {
  flex: 2;
  font-size: 35px;
}

.search-container .input > input {
  height: 20px;
  width: 170px;
  border: none;
  font-size: 17px;
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  border-top: none;
  border-left: none;
  line-height: 1.3333333;
}

.search-container .input > img {
  content: "";
  position: absolute;
  top: 6px;
  right: 10px;
}

.search-container .input > input {
  outline: none;
}

.box-container > * {
  font-weight: 300;
}

.box-container {
  display: flex;
  /* flex-direction: row;*/
  flex-flow: wrap;
}

.box-container > .box {
  display: block;
  width: 30%;
  height: 135px;
  margin: 60 0 0 30;
}

.box-container > .box .header {
  color: white;
  background-color: #00a2ed;
  text-align: center;
  padding: 50;
  border-radius: 20px 20px 0 0;
}

.box-container > .box .footer {
  background-color: rgb(188, 188, 188);
  padding: 10;
}

/* footer */
footer {
  margin-top: 100px;
  font-size: 14px;
  background: #222;
  color: #ccc;
  padding: 15px;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}
